@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "variables.scss";

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: $text-color;
  box-sizing: border-box;
}